.contact-banner {
    display: flex;
    width: 100%;
}

.contact-banner-picture {
    width: 100%;
}

.contact-banner-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 140px;
    left: 640px;

    
}

.main-contact {
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 0;

}


.home-contact a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px
}

.home-contact span {
    font-weight: 300;
    font-size: 16px;
}

@media screen and (max-width: 1024px) { 
    .contact-banner {
        position: relative; 
        width: 100%; 
        height: auto; 
    }

    .contact-banner img {
        width: 100%; 
        height: auto; 
    }

    .contact-banner-overlay {
        position: absolute; 
        top: 35%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        text-align: center; 
        color: black; 
        width: 10%; 
    }

    .main-contact {
        font-size: 28px; 
        font-weight: bold;
        margin-top: -15px;
    }

    .home-contact {
        font-size: 12px; 
        margin-top: 0px;
        display: flex; 
    }

    .home-contact a {
        color: black; 
        text-decoration: none;
        font-weight: 500;
        font-size: 14px; 
    }

    .home-contact span {
        font-weight: 300;
        font-size: 14px;
    }
}

@media screen and (max-width: 430px) { 
    .contact-banner {
        position: relative; 
        width: 100%; 
        height: auto; 
    }

    .contact-banner img {
        width: 100%; 
        height: auto; 
    }

    .contact-banner-overlay {
        position: absolute; 
        top: 35%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        text-align: center; 
        color: black; 
        width: 10%; 
    }

    .contact-banner-overlay h1 {
        margin-bottom: -2px;
        margin-top: -8px;
    }

    .main-contact {
        font-size: 8px; 
        font-weight: bold;
        
    }

    .home-contact {
        font-size: 10px; 
        margin-top: 0;
        display: flex;
    
    }

    .home-contact a {
        color: black; 
        text-decoration: none; 
        font-weight: 500;
        font-size: 8px;
    }

    .home-contact span {
        color: black;
        font-weight: 300;
        font-size: 8px; 
    }
}

/* <!-- CONTACT SECTOR */
.contact {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: -30PX;
}

.contact-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-header h2 {
    font-weight: 600;
    font-size: 36px;
    color: black;
    margin-bottom: 0;
}

.contact-header p {
    font-weight: 400;
    font-size: 16px;
    color: #9F9F9F;
    
}

.contact-columns {
    display: flex;
    flex-direction: row;
    gap: 200px;
   padding: 80px;
   margin-left: 100px;
   margin-right: 100px;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-column h3 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 0;
}

.left-column p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 0;

}

.address {
    display: flex;
    
}

.address img {
    display: flex;
    width: 22px;
    height: 27.59px;
    margin-right: 20px;
    margin-top: 25px;
}
.phone {
    display: flex;
    
    
}

.phone img {
    display: flex;
    width: 22px;
    height: 27.59px;
    margin-right: 20px;
    margin-top: 25px;
}
.time {
    display: flex;
    
}

.time img {
    display: flex;
    width: 22px;
    height: 27.59px;
    margin-right: 20px;
    margin-top: 25px;
}

.right-column {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-weight: 500;
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
}

.contact-form input {
    margin-bottom: 50px;
}

input[id="name"] {
    width: 528.75px;  
    height: 50px; 
    padding: 10px; 
    font-size: 16px;
    font-weight: 400;
    color: #9F9F9F;
    border-radius: 10px;
    border: 1px solid #9F9F9F; 
}
input[id="email"] {
    width: 528.75px;  
    height: 50px; 
    padding: 10px; 
    font-size: 16px;
    font-weight: 400;
    color: #9F9F9F;
    border-radius: 10px;
    border: 1px solid #9F9F9F; 
}
input[id="subject"] {
    width: 528.75px;  
    height: 50px; 
    padding: 10px; 
    font-size: 16px;
    font-weight: 400;
    color: #9F9F9F;
    border-radius: 10px;
    border: 1px solid #9F9F9F; 
}
input[id="message"] {
    width: 527px;  
    height: 100px; 
    padding: 10px; 
    font-size: 16px;
    font-weight: 400;
    color: #9F9F9F;
    border-radius: 10px;
    border: 1px solid #9F9F9F; 
}
.submit-button {
    width: 237px;  
    height: 55px; 
    padding: 10px; 
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: #B88E2F;
    border-radius: 8px;
    border: 1px solid #B88E2F; 
}

@media (min-width: 431px) and (max-width: 1024px) {
    .contact {
        display: flex;
        margin-left: -120px;
    }

    .contact-header {
        display: flex;
        flex-direction: column;
        margin-left: 130px;
        
    }

    .contact-columns {
        gap: 150px;
    }

    .left-column p {
        font-weight: 400;
        font-size: 14px;
        
        
    }

    input[id="name"] {
        width: 250px;
    }
    input[id="email"] {
        width: 250px;
    }
    input[id="subject"] {
        width: 250px;
    }
    input[id="message"] {
        width: 250px;
    }

    
}

@media screen and (max-width: 430px) {
    .contact {
        margin-top: 30px;
    }
    .contact-columns {
        display: flex;
        flex-direction: column;
        margin-left: -50px;
        width: 60%;
        gap: 30px;
        margin-top: -40px;
    }
    input[id="name"] {
        width: 250px;
    }
    input[id="email"] {
        width: 250px;
    }
    input[id="subject"] {
        width: 250px;
    }
    input[id="message"] {
        width: 250px;
    }
}

/* WHY FUNIRO */
.why-funiro {
    display: flex;
    flex-direction: row;
    background-color: #FAF3EA;
    margin: 0;
    justify-content: space-between;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: -7px;
    
}

.selling-points {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.selling-points-text {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.selling-points h2 {
    margin-bottom: 5px; 
}

.selling-points p {
    margin-top: 0;
    line-height: 1.2; 
}

.selling-points img {
    width: 60px;
    height: 60px;
    
}

.value-text {
    font-weight: 600;
    font-size: 25px;
    color: #242424;
}

.benefits-text {
    font-weight: 500;
    font-size: 20px;
    color: #898989;
}

@media screen and (max-width: 430px) {
    .why-funiro {
        flex-direction: column;
        padding: 20px;
        margin-top: 30px;
    }

    .selling-points {
        flex-direction: column;
        align-items: center;
        gap: 10px; 
    }

    .selling-points img {
        width: 50px;
        height: 50px;
        margin-top: 30px;
    }

    .selling-points-text {
        align-items: center;
       margin-top: -20px;
    }

    .selling-points h2 {
        font-size: 20px;
        margin-bottom: 3px; 
    }

    .selling-points p {
        font-size: 14px;
        margin-top: 0; 
        line-height: 1.2;
    }

    
}

@media screen and (min-width: 1024px) {
    .why-funiro {
        display: flex;
        flex-direction: row; 
        padding: 30px;
        margin-top: 50px;
        justify-content: space-between; 
    }

    .selling-points {
        display: flex;
        flex-direction: row; 
        align-items: center;
        gap: 10px; 
    }

    .selling-points-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        margin-top: 0;
    }

    .selling-points img {
        width: 60px;
        height: 60px;
    }

    .selling-points h2 {
        font-size: 22px;
        margin-bottom: 5px;
        text-align: left; 
    }

    .selling-points p {
        font-size: 16px;
        margin-top: 0;
        line-height: 1.2;
        text-align: left; 
    }
}

